# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual env
.venv/
venv/
env/

# Django stuff
/staticfiles/
media/
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env / secrets
.env
*.env
.env.*

# Byte-compiled / optimized / DLL files
*.so

# Coverage / test
htmlcov/
.coverage
.tox/
.pytest_cache/
